<!-- Used by theme-bio-builtin-1,2 -->

<div class="ui center aligned tiny header no-bottom" style="margin-top: 10px; margin-bottom: 15px !important;">
	{% if site.data.bio.basics.website %}
  		<a href="{{ site.data.bio.basics.website }}"> <i class="large home icon "></i>{{ site.data.bio.basics.website | remove: "http://" | remove: "https://" }}</a>
	{% endif %}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{% if site.data.bio.basics.email %}
		<a href="mailto:{{ site.data.bio.basics.email }}"> <i class="large mail outline icon "></i>{{ site.data.bio.basics.email }}</a>
	{% endif %}
</div>